@charset "UTF-8";

@font-face {font-family: 'S-CoreDream'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff'); font-weight:400; font-style: normal;}
@font-face {font-family: 'S-CoreDream'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff'); font-weight:500; font-style: normal;}
@font-face {font-family: 'S-CoreDream'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff'); font-weight:600; font-style: normal;}


.tc {text-align:center;}
.tl {text-align:left;}

.fr {float:right;}

.ml5 {margin-left:5px;}

.adm_table_style1 {width:100%; border-collapse:collapse; font-family:'S-CoreDream'; color:#353535;}
.adm_table_style1 thead th {background:#404d69; color:#fff; text-align:center; border:1px solid rgba(255,255,255,0.1); padding:10px;}
.adm_table_style1 tbody td {border:1px solid #ddd; padding:10px;}
.adm_table_style1 .a_btn {width:70px; display:block; padding:5px 10px; background:#738dc5; border-radius:3px; color:#fff; text-align:center; margin:2px auto; text-decoration:none !important;}
.adm_table_style1 img {width:100%;}
.adm_table_style1 .a_btn2 {width:70px; padding:5px 10px; background:#738dc5; border-radius:3px; color:#fff; text-align:center; margin:2px auto; text-decoration:none !important;}

.board_page {text-align:center; margin-top:50px;}
.board_page ul {display:inline-block;}
.board_page > p, .board_page ul li {display:inline-block; vertical-align:top; line-height:30px; border:1px solid #ccc; padding:0 10px; font-size:0.93em;}
.board_page ul li a {text-decoration:none !important; color:#353535; font-family:'S-CoreDream'}

.mall_cate_list .tit {font-size:1.5em; color:#111; font-weight:500; font-family:'S-CoreDream'}

.mall_cate_write {width:100%; overflow:hidden; font-family:'S-CoreDream'}
.mall_cate_write select {float:left; display:block; width:10%; height:45px; border-radius:0; border:1px solid #ccc;}
.mall_cate_write input[type="text"] {float:left; display:block; width:calc(80% - 10px); height:45px; border-radius:0; border:1px solid #ccc; margin:0 5px;}
.mall_cate_write input[type="submit"] {float:left; display:block; width:10%; height:45px; border-radius:0; border:0; background:#2c4fb5; color:#fff;}

.mall_cate_update {width:100%; overflow:hidden; font-family:'S-CoreDream'}
.mall_cate_update input[type="text"] {float:left; display:block; width:calc(90% - 5px); height:45px; border-radius:0; border:1px solid #ccc; margin-right:5px;}
.mall_cate_update input[type="submit"] {float:left; display:block; width:10%; height:45px; border-radius:0; border:0; background:#2c4fb5; color:#fff;}

.mall_pdt_write {font-family:'S-CoreDream'; width:100%; overflow:hidden;}
.mall_pdt_write ul, .mall_pdt_write ul li {margin:0; padding:0;}
.mall_pdt_write ul li {display:table; width:100%; margin-top:-1px;}
.mall_pdt_write ul li:first-child {margin-top:0;}
.mall_pdt_write ul li > p, .mall_pdt_write ul li > div {display:table-cell; vertical-align:middle; border:1px solid #ddd; padding:10px;}
.mall_pdt_write ul li > p {width:15%; text-align:center; background:#f7f7f7;}
.mall_pdt_write ul li > div {width:85%; border-left:0;}
.mall_pdt_write ul li select, .mall_pdt_write ul li input[type="text"], .mall_pdt_write ul li textarea {display:block; width:500px; max-width:100%; height:45px; border-radius:0; border:1px solid #ddd;}
.mall_pdt_write ul li textarea {height:200px; resize:none;}
.mall_pdt_write ul li input[type="file"] {display:block; margin:3px 0;}
.mall_pdt_write input[type="submit"] {display:block; float:right; margin-top:20px; padding:0 30px; color:#fff; height:45px; background:#3457bb; border:0;}


.adm_joongo_ico {overflow:hidden; margin:5px 0 0 0; padding:0;}
.adm_joongo_ico li {float:left; margin:0 10px 0 0; font-size:0.7em; list-style:none;}
.adm_joongo_ico li.heart {background:url(../images/ico_heart.png) no-repeat left center; padding-left:15px;}
.adm_joongo_ico li.chat {background:url(../images/ico_chat.png) no-repeat left center; padding-left:22px;}

.sch_select, .sch_select2 {display:inline-block; margin-bottom:.5rem}
.sch_select select {width:160px;}
.sch_select2 select {width:100px;}

.history_back_btn {display:inline-block; margin-top:20px; padding:0 30px; color:#fff; line-height:45px; font-family:'S-CoreDream'; background:#808080; text-decoration:none !important;}
.history_back_btn:hover {color:#fff;}

.admin_od_img {width:10%; text-align:left;}
.order_img_wrapper {display: inline-block !important; over-flow: hidden !important; vertical-align:middle !important; width:30% !important;  }
.order_img_wrapper a {color:black !important; background-color:white !important; display: inline-block !important; over-flow: hidden !important;}


.adm_table_style2 {width:100%; border-collapse:collapse; font-family:'S-CoreDream'; color:#353535; margin-top:20px;}
.adm_table_style2 thead th {background:#404d69; color:#fff; text-align:center; border:1px solid rgba(255,255,255,0.1); padding:5px;}
.adm_table_style2 tbody td {border:1px solid #ddd; padding:5px;}
.adm_table_style2 tbody td a {width:70px; background:#738dc5; border-radius:3px; color:#fff; margin:2px auto; text-decoration:none !important;}
.adm_table_style2 tbody td:nth-child(1) {text-align:center}
.adm_table_style2 img {width:60%}

/* order */
.admin_od_menu {margin-top:10px; margin-bottom:10px; border-bottom :1px solid #ccc }
.admin_od_sub {width:100%; padding:10px; border-bottom:1px solid #ededed; padding:10px;}
.admin_od_sub input[type=date] {height:30px;}
.admin_od_date {font-family:'S-CoreDream'; color:#676767; background:#fff; border: 1px solid #ccc; cursor:pointer; padding:4px;  font-size:15px; margin-left:5px;}
.admin_od_top {font-family:'S-CoreDream'; padding:10px; background-color:#f5f5f5;}
.admin_order_status {font-family:'S-CoreDream'; vertical-align:middle; padding:5px;}
.admin_od_pay_info {width:47%; display:inline-block; over-flow: hidden; margin-top:50px; }
.admin_od_pay_info_div { display:inline-block; over-flow: hidden; width:100%;  margin:0 auto; text-align:center;}
.admin_od_pay_info .info_confirm  { width:100%; text-align:left; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.admin_od_pay_info .info_confirm tbody td { border-bottom:1px solid #ddd; padding:5px;}
.admin_od_pay_info .info_confirm tbody td:nth-child(1)  { background-color:#f5f5f5; width:30%}

.admin_od_pay_info .info_form { width:100%; text-align:left; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.admin_od_pay_info .info_form tbody td { border-bottom:1px solid #ddd; padding:5px;}
.admin_od_pay_info .info_form tbody td:nth-child(1)  { background-color:#f5f5f5;  width:30%}
.admin_od_pay_info_btn {padding:50px;}
.admin_order_title {margin-top:50px; font-weight:bold;}


/* 페이징 버튼 */
.paging-line { width:20px; display:inline-block;}
.paging-line a {text-decotation:none; }

.table.padding-sm tbody td {padding: .325rem;}
.table.middle td {vertical-align: middle;}


/* 공지사항 */
#uploadImage {
	cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid lightgray;
}

.input-file-btn {
	height: auto;
	padding: 6px;
	background-color:mediumturquoise;
	border-radius: 4px;
	color: white;
	cursor: pointer;
	text-align: center;
}

.thumb-box {
	position: relative;
}

.image-null {
	display: none;
}

.image-uploaded {
	width: 200px;
}

.image-delete-btn {
	display: none;
	background: url(/resources/images/delete_image.svg);
	background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 32px;
    height: 32px;
}

.image-delete-btn-span {
	position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

