<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="daangnmungcat.mapper.ChatMapper">

	<!-- 
		 joongo_chat: id, sale_id, sale_mem_id, buy_mem_id, regdate, latest_date
		 joongo_chat_msg: id, chat_id, mem_id, content, regdate, read_yn, image
	 -->
	 
	<!-- ResultMap -->
	<resultMap type="Chat" id="chatSimpleRes" >
		<id property="id" column="id" />
		<result property="sale.id" column="sale_id" />
		<result property="sale.member.id" column="sale_mem_id" />
		<result property="buyer.id" column="buy_mem_id" />
		<result property="regdate" column="regdate" />
		<result property="latestDate" column="latest_date" />
	</resultMap>
	
	<sql id="simpleSelSQL">
		SELECT
			id,
			sale_id,
			sale_mem_id,
			buy_mem_id,
			regdate,
			latest_date
		FROM JOONGO_CHAT		
	</sql>


	<resultMap type="Chat" id="chatRes">
		<id property="id" column="id" />
		<result property="regdate" column="regdate" />
		<result property="latestDate" column="latest_date" />
		
		<association property="sale" columnPrefix="sale_" resultMap="daangnmungcat.mapper.JoongoListMapper.saleResultForJoin" fetchType="lazy" />
		<association property="buyer" columnPrefix="buy_mem_" resultMap="daangnmungcat.mapper.MemberMapper.memberResult" />
	</resultMap>
	
	<sql id="selectSQL">
		SELECT * FROM chat_list_view
	</sql>
	
	<select id="selectAllChatsByMemberId" resultMap="chatRes">
		<include refid="selectSQL" />
		where sale_mem_id = #{memberId} or buy_mem_id = #{memberId}
		ORDER BY latest_date DESC
	</select>
	
	<select id="selectAllChatsBySaleId" resultMap="chatRes">
		<include refid="selectSQL" />
		where sale_id = #{saleId}
		ORDER BY latest_date DESC
	</select>
	
	<select id="selectChatByChatId" resultMap="chatRes">
		<include refid="selectSQL" />
		where id = #{id}
	</select>
	
	<select id="selectChatByMemberIdAndSaleId" resultMap="chatRes">
		<include refid="selectSQL" />
		where (sale_mem_id = #{memberId} or buy_mem_id = #{memberId})
		and sale_id = #{saleId}
	</select>
	
	<insert id="insertChat" parameterType="Chat">
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			SELECT chat_seq.nextval FROM DUAL
		</selectKey>
		INSERT INTO JOONGO_CHAT(id, sale_id, sale_mem_id, buy_mem_id, regdate, latest_date)
		VALUES(#{id}, #{sale.id}, #{sale.member.id}, #{buyer.id}, sysdate, sysdate)
	</insert>
	
	<update id="updateChatRead">
		UPDATE JOONGO_CHAT_MSG
		SET read_yn = 'y'
		WHERE chat_id = #{id} and mem_id != #{memberId} and read_yn = 'n'
	</update>
	
	<update id="updateChatLatestDate" parameterType="ChatMessage">
		UPDATE JOONGO_CHAT
		SET latest_date = #{regdate}
		WHERE id = #{chat.id}
	</update>
	
	<delete id="deleteChat" parameterType="Chat">
		delete from JOONGO_CHAT where id = #{id}
	</delete>
	
</mapper>