<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="daangnmungcat.mapper.ChatMapper">

	<!-- 
		 joongo_chat: id, sale_id, sale_mem_id, buy_mem_id, regdate, latest_date
		 joongo_chat_msg: id, chat_id, mem_id, content, regdate, read_yn, image
	 -->
	 
	<!-- ResultMap -->
	<resultMap type="Chat" id="chatRes">
		<id column="id" property="id" />
		<result column="sale_id" property="sale.id" />
		<result column="sale_mem_id" property="sale.member.id" />
		<result column="buy_mem_id" property="buyer.id" />
		<result column="regdate" property="regdate" />
		<result column="latest_date" property="latestDate" />
	</resultMap>
	
	<sql id="selectSQL">
		SELECT id, sale_id, sale_mem_id, buy_mem_id, regdate, latest_date
		FROM JOONGO_CHAT
	</sql>
	
	<insert id="insertChat" parameterType="Chat" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			SELECT chat_seq.nextval FROM DUAL
		</selectKey>
		INSERT INTO JOONGO_CHAT(id, sale_id, sale_mem_id, buy_mem_id, regdate, latest_date)
		VALUES(#{id}, #{sale.id}, #{sale.member.id}, #{buyer.id}, sysdate, sysdate)
	</insert>
	
	<select id="selectAllChatsByMemberId" resultMap="chatRes">
		<include refid="selectSQL" />
		where sale_mem_id = #{memberId} or buy_mem_id = #{memberId}
	</select>
	
	<select id="selectChatByChatId" resultMap="chatRes">
		<include refid="selectSQL" />
		where id = #{id}
	</select>
</mapper>