<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="daangnmungcat.mapper.ChatMapper">

	<!-- 
		 joongo_chat: id, sale_id, sale_mem_id, buy_mem_id, regdate, latest_date
		 joongo_chat_msg: id, chat_id, mem_id, content, regdate, read_yn, image
	 -->
	 
	<!-- ResultMap -->
	<resultMap type="Chat" id="chatSimpleRes">
		<id property="id" column="id" />
		<result property="sale.id" column="sale_id" />
		<result property="sale.member.id" column="sale_mem_id" />
		<result property="buyer.id" column="buy_mem_id" />
		<result property="regdate" column="regdate" />
		<result property="latestDate" column="latest_date" />
	</resultMap>
	
	<sql id="simpleSelSQL">
		SELECT
			id,
			sale_id,
			sale_mem_id,
			buy_mem_id,
			regdate,
			latest_date
		FROM JOONGO_CHAT		
	</sql>


	<resultMap type="Chat" id="chatRes">
		<id property="id" column="id" />
		<result property="regdate" column="regdate" />
		<result property="latestDate" column="latest_date" />
		
		<association property="sale" columnPrefix="sale_" resultMap="daangnmungcat.mapper.JoongoListMapper.saleResult" />
		<association property="buyer" columnPrefix="buyer_" resultMap="daangnmungcat.mapper.MemberMapper.memberResult" />
	</resultMap>
	
	<sql id="selectSQL">
		SELECT
			C.id			AS id,
			C.sale_id		AS sale_id,
			S.MEM_ID 		AS sale_mem_id,
			SM.nickname		AS sale_mem_nickname,
			SM.grade		AS sale_mem_grade,
			S.title			AS sale_title,
			S.dongne2		AS sale_dongne2,
			S.sale_state	AS sale_sale_state,
			C.buy_mem_id	AS buyer_id,
			BM.nickname		AS buyer_nickname,
			C.regdate		AS regdate,
			C.latest_date	AS latest_date
		FROM JOONGO_CHAT C
			LEFT OUTER JOIN JOONGO_SALE S ON (C.SALE_ID = S.ID)
			LEFT OUTER JOIN MEMBER SM ON (S.MEM_ID = SM.id)
			LEFT OUTER JOIN MEMBER BM ON (C.BUY_MEM_ID = BM.id)
	</sql>
	
	
	
	<select id="selectAllChatsByMemberId" resultMap="chatRes">
		<include refid="selectSQL" />
		where sale_mem_id = #{memberId} or buy_mem_id = #{memberId}
	</select>
	
	<select id="selectChatByChatId" resultMap="chatRes">
		<include refid="selectSQL" />
		where id = #{id}
	</select>
	
	
	<insert id="insertChat" parameterType="Chat">
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			SELECT chat_seq.nextval FROM DUAL
		</selectKey>
		INSERT INTO JOONGO_CHAT(id, sale_id, sale_mem_id, buy_mem_id, regdate, latest_date)
		VALUES(#{id}, #{sale.id}, #{sale.member.id}, #{buyer.id}, sysdate, sysdate)
	</insert>
	
	
	<delete id="deleteChat" parameterType="Chat">
		delete from JOONGO_CHAT where id = #{id}
	</delete>
	
</mapper>