<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="daangnmungcat.mapper.JoongoSaleMapper">
<sql id="selectSQL">
	SELECT s.id AS id, m.id AS MEM_ID, dv.D1NAME as dongne1_name, dv.D2NAME as dongne2_name, grade, profile_pic, 
	DOG_CATE, CAT_CATE, TITLE, CONTENT,PRICE, s.REGDATE AS regdate, 
	REDATE, SALE_STATE, BUY_MEM_ID, HITS , CHAT_COUNT, HEART_COUNT 
	FROM JOONGO_SALE s 
	JOIN DONGNE_VIEW dv on s.DONGNE2_ID = dv.D2ID
	JOIN MEMBER m ON s.MEM_ID = m.id
</sql>

<sql id="viewSQL">
	SELECT * FROM sale_view 
</sql>

<sql id="viewAndRowNumSQL">
	SELECT rownum, id, MEM_ID, DONGNE1_NAME ,DONGNE2_NAME , grade, PROFILE_PIC , DOG_CATE ,CAT_CATE ,TITLE ,
	CONTENT ,PRICE ,REGDATE ,REDATE , SALE_STATE ,BUY_MEM_ID ,HITS , CHAT_COUNT,HEART_COUNT 
	FROM (SELECT * from SALE_VIEW ORDER BY regdate DESC )
</sql>

<sql id="whereSQL">
	<where>
		<if test="id != null">
			id = #{id}
		</if>
	</where>
</sql>

<sql id="whereIdSQL">
	<where>
		<if test="mem_id != null">
			mem_id = #{member.id} 
		</if>
	</where>
</sql>

<resultMap type="Sale" id="saleResult">
	<id column="id" property="id"></id>
	<result column="mem_id" property="member.id"/>
	<result column="dongne1_name" property="dongne1.name"/>
	<result column="dongne2_name" property="dongne2.name"/>
	<result column="grade" property="member.grade"/>
	<result column="profile_pic" property="member.profilePic"/>
	<result column="DOG_CATE" property="dogCate"/>
	<result column="CAT_CATE" property="catCate"/>
	<result column="TITLE" property="title"/>
	<result column="CONTENT" property="content"/>
	<result column="regdate" property="regdate"/>
	<result column="REDATE" property="redate"/>
	<result column="SALE_STATE" property="saleState" jdbcType="INTEGER" typeHandler="daangnmungcat.dto.SaleState$TypeHandler"/>
	<result column="BUY_MEM_ID" property="buyMember.id"/>
	<result column="HITS" property="hits"/>
	<result column="CHAT_COUNT" property="chatCount"/>
	<result column="HEART_COUNT" property="heartCount"/>
</resultMap>

<select id="selectJoongoSaleByAll" resultMap="saleResult">
	<include refid="selectSQL"></include>
</select>


<select id="selectJoonSaleById" resultMap="saleResult" parameterType="int">
	<include refid="viewSQL"></include>
	<include refid="whereSQL"></include>
</select>

<select id="selectJoongoSalesByMemId" resultMap="saleResult" parameterType="String">
	<include refid="viewAndRowNumSQL"></include>
	<![CDATA[
		WHERE ROWNUM < 9 AND mem_id = #{member.id}
	 ]]>
</select>


<!--조회수  -->
<update id="JSaleHits" parameterType="int">
	UPDATE JOONGO_SALE SET HITS = hits + 1
	<include refid="whereSQL"></include>
</update>

<update id="inserthearCount" parameterType="int">
	update JOONGO_SALE set HEART_COUNT = heart_count+1
	<include refid="whereSQL"></include>
</update>

<update id="deletehearCount" parameterType="int">
	update JOONGO_SALE set HEART_COUNT = heart_count-1
	<include refid="whereSQL"></include>
</update>

</mapper>