<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="daangnmungcat.mapper.JoongoSaleReviewMapper">
	
	<sql id="selectSQL">
		SELECT ID, SALE_ID, BUY_MEM_ID, RATING, CONTENT, REGDATE FROM JOONGO_REVIEW
	</sql>
	
	<resultMap type="SaleReview" id="reviewResult">
		<id column="id" property="id"/>
		<result column="sale_id" property="sale.id"/>
		<result column="buy_mem_id" property="buyMember.id"/>
		<result column="rating" property="rating"/>
		<result column="content" property="content"/>
		<result column="regdate" property="regdate"/>
	</resultMap>
	
	<select id="selectJoongoReviewBySaleId" resultMap="reviewResult">
		<include refid="selectSQL" /> WHERE SALE_ID = #{saleId}
	</select>

	<insert id="insertJoongoSaleReview" parameterType="SaleReview">
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			SELECT joongo_review_seq.nextval FROM DUAL
		</selectKey>
		INSERT INTO JOONGO_REVIEW(ID, SALE_ID, BUY_MEM_ID, RATING, CONTENT) VALUES(#{id}, #{sale.id}, #{buyMember.id}, #{rating}, #{content})
	</insert>
</mapper>