<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="daangnmungcat.mapper.JoongoSaleCommentMapper">

<resultMap type="SaleComment" id="saleCommentResult">
	<id column="id" property="id"/>
	<result column="sale_id" property="sale.id"/>
	<result column="mem_id" property="member.id"/>
	<result column="origin_id" property="saleComment.id"/>
	<result column="tag_mem_id" property="tagMember.id"/>
	<result column="content" property="content"/>
	<result column="regdate" property="regdate"/>
	
	<result column="profile_pic" property="member.profilePic"/>
	<association column="grade" property="member.grade" select="daangnmungcat.mapper.GradeMapper.selectGradeByCode" />
</resultMap>

<select id="selectJoongoCommentByAllPage" parameterType="map" resultMap="saleCommentResult">
	SELECT a.*
	  FROM (SELECT rownum AS rnum, b.*
	    FROM (SELECT jc.id, MEM_ID, m.PROFILE_PIC, m.GRADE, SALE_ID, ORIGIN_ID, TAG_MEM_ID, CONTENT, jc.REGDATE 
	  FROM JOONGO_COMMENT jc LEFT OUTER JOIN MEMBER m ON jc.MEM_ID = m.ID
	 WHERE SALE_ID = #{saleId}
	 START WITH origin_id IS NULL
	 CONNECT BY PRIOR jc.id = ORIGIN_ID
	 ORDER SIBLINGS BY ID) b) a
	 WHERE a.rnum BETWEEN #{cri.rowStart} AND #{cri.rowEnd}
	ORDER BY a.rnum
</select>

<select id="selectJoongoCommentByAllPage2" resultMap="saleCommentResult">
	SELECT a.*
	  FROM (SELECT rownum AS rnum, b.*
	    FROM (SELECT jc.id, MEM_ID, m.PROFILE_PIC, m.GRADE, SALE_ID, ORIGIN_ID, TAG_MEM_ID, CONTENT, jc.REGDATE 
	  FROM JOONGO_COMMENT jc LEFT OUTER JOIN MEMBER m ON jc.MEM_ID = m.ID ORDER BY jc.ID DESC) b) a
	 WHERE a.rnum BETWEEN #{rowStart} AND #{rowEnd}
	ORDER BY a.rnum
</select>

<select id="commentCount" resultType="int">
	SELECT count(id) FROM JOONGO_COMMENT WHERE SALE_ID = #{saleId}
</select>

<select id="commentCount2" resultType="int">
	SELECT count(id) FROM JOONGO_COMMENT
</select>

<insert id="insertJoongoSaleComment" parameterType="SaleComment">
	<selectKey keyProperty="id" resultType="int" order="BEFORE">
			SELECT joongo_comment_seq.nextval FROM DUAL
		</selectKey>
	INSERT INTO JOONGO_COMMENT(ID, SALE_ID, MEM_ID, ORIGIN_ID, TAG_MEM_ID, CONTENT) 
	VALUES(#{id}, #{sale.id}, #{member.id}, #{saleComment.id}, #{tagMember.id}, #{content})
</insert>

<update id="updateComment" parameterType="SaleComment">
	UPDATE JOONGO_COMMENT SET CONTENT = #{content} WHERE ID = #{id}
</update>

<delete id="deleteComment" parameterType="int">
	DELETE FROM JOONGO_COMMENT WHERE ID = #{commentId} OR ORIGIN_ID = #{commentId}
</delete>

</mapper>