<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="daangnmungcat.mapper.MallPdtMapper">

<sql id="selectSql">
	select mp.ID, DOG_CATE AS DOG_ID, mdc.NAME AS DOG_NAME, CAT_CATE AS CAT_ID, mcc.NAME AS CAT_NAME, mp.NAME, PRICE, CONTENT, SALE_YN, STOCK, IMAGE1, IMAGE2, IMAGE3, DELIVERY_KIND, DELIVERY_CONDITION, DELIVERY_PRICE, REGDATE from MALL_PDT mp LEFT OUTER JOIN MALL_DOG_CATE mdc ON mp.DOG_CATE = mdc.ID LEFT OUTER JOIN MALL_CAT_CATE mcc ON mp.CAT_CATE = mcc.ID
</sql>
<sql id="whereSql">
	<where>
		<if test="id != null">
			mp.id = #{id}
		</if>
	</where>
</sql>


<!-- resultMap -->
	<resultMap type="MallProduct" id="pdtResult">
		<id column="id" property="id"></id>
		<result column="dog_cate" property="dogCate.id"></result>
		<result column="cat_cate" property="catCate.id"></result>
		<result column="name" property="name"></result>
		<result column="price" property="price"></result>
		<result column="content" property="content"></result>
		<result column="sale_yn" property="saleYn"></result>
		<result column="stock" property="stock"></result>
		<result column="image1" property="image1"></result>
		<result column="image2" property="image2"></result>
		<result column="image3" property="image3"></result>
		<result column="delivery_kind" property="deliveryKind"></result>
		<result column="delivery_condition" property="deliveryCondition"></result>
		<result column="delivery_price" property="deliveryPrice"></result>
		
		<association property="dogCate" columnPrefix="DOG_" resultMap="cateResult" />
		<association property="catCate" columnPrefix="CAT_" resultMap="cateResult" />
	</resultMap>
	
	<resultMap type="MallCate" id="cateResult">
		<id column="id" property="id"></id>
		<result column="name" property="name"></result>
	</resultMap>
	

<!-- query -->

	<insert id="insertMallProduct" parameterType="MallProduct">
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			SELECT mall_pdt_seq.nextval FROM DUAL
		</selectKey>
		INSERT INTO MALL_PDT(ID, DOG_CATE, CAT_CATE, NAME, PRICE, CONTENT, SALE_YN, STOCK, IMAGE1, IMAGE2, IMAGE3, DELIVERY_KIND, DELIVERY_CONDITION, DELIVERY_PRICE)
		 VALUES(#{id}, #{dogCate.id}, #{catCate.id}, #{name}, #{price}, #{content}, #{saleYn}, #{stock}, #{image1}, #{image2}, #{image3}, #{deliveryKind}, #{deliveryCondition}, #{deliveryPrice})
	</insert>
	
	<select id="dogCateList" resultMap="cateResult">
		SELECT id, name FROM MALL_DOG_CATE WHERE id NOT IN (1) ORDER BY ID
	</select>
	
	<select id="catCateList" resultMap="cateResult">
		SELECT id, name FROM MALL_CAT_CATE WHERE id NOT IN (1) ORDER BY ID
	</select>
	
	<select id="selectProductByAll" resultMap="pdtResult">
		<include refid="selectSql"></include>
		ORDER BY mp.ID
	</select>
	
	<select id="selectProductByAllPage" resultMap="pdtResult">
		SELECT a.*
		  FROM (SELECT rownum AS rnum, b.*
		  		FROM (<include refid="selectSql" /> ORDER BY mp.ID desc) b) a
		 WHERE a.rnum BETWEEN #{rowStart} AND ${rowEnd}
		 ORDER BY a.rnum
	</select>
	
	<select id="selectDogByAll"  resultMap="pdtResult">
		<include refid="selectSql"></include>
		WHERE DOG_CATE IS NOT NULL
	</select>

	<select id="selectCatByAll" resultMap="pdtResult">
		<include refid="selectSql"></include>
		WHERE CAT_CATE IS NOT NULL
	</select>
	
	<select id="dogProductListByCate" parameterType="Int" resultMap="pdtResult">
		<include refid="selectSql"></include>
		where dog_cate = #{dogCate.id}
	</select>
	
	<select id="catProductListByCate" parameterType="Int" resultMap="pdtResult">
		<include refid="selectSql"></include>
		where cat_cate = #{catCate.id}
	</select>	
	
	<select id="getProductById" parameterType="Int" resultMap="pdtResult">
		<include refid="selectSql"></include>	
		<include refid="whereSql"></include>
	</select>
	
	<update id="deleteDogCateProduct" parameterType="int">
		UPDATE MALL_PDT SET DOG_CATE = 1 WHERE DOG_CATE = #{id}
	</update>
	
	<update id="deleteCatCateProduct" parameterType="int">
		UPDATE MALL_PDT SET DOG_CATE = 1 WHERE CAT_CATE = #{id}
	</update>
	
	<delete id="deleteMallProduct" parameterType="int">
		DELETE FROM MALL_PDT WHERE ID = #{id}
	</delete>
	
	<select id="productCount" resultType="int">
		SELECT count(id) FROM MALL_PDT
	</select>
	
	<update id="updateMallProduct" parameterType="MallProduct">
		UPDATE MALL_PDT SET DOG_CATE = #{dogCate.id}, CAT_CATE = #{catCate.id}, name = #{name}, PRICE = #{price}, CONTENT = #{content}, SALE_YN = #{saleYn}, STOCK = #{stock}, IMAGE1 = #{image1}, IMAGE2 = #{image2}, IMAGE3 = #{image3}, DELIVERY_KIND = #{deliveryKind}, DELIVERY_CONDITION = #{deliveryCondition}, DELIVERY_PRICE = #{deliveryPrice} WHERE ID = #{id}
	</update>
	

</mapper>